{% extends "layout.html" %}
{% block content %}

<div class="jumbotron text-center">
    <h1>Eyetech</h1>
    <p>We Care For Your Vision</p>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Company Page</h2><br>
            <h4>Eyetech is a new company that provides Online Diabetic retinal retification for the defects with a
                detail report generation certified from medical organization.</h4><br></div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Mission</h2><br>
            <h4><strong></strong>To support the diabetic patients to provide the best vision solution</h4><br>
        </div>
    </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <div>
                {% if current_user.is_authenticated %}
                    <button class="btn"><i class="fa fa-user-md fa-5x"></i><a href="{{ url_for('upload_image') }}"></button>
                {% else %}
                    <button class="btn"><i class="fa fa-user-md fa-5x"></i><a href="{{ url_for('login') }}"></button>
                {% endif %}
            </div>
            <h4>Online Checkup</h4>
        </div>
    </div>

    <!-- Container (Contact Section) -->
    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you as soon as possible.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Goa, IND</p>
                <p><span class="glyphicon glyphicon-phone"></span> +91 9982991983</p>
                <p><span class="glyphicon glyphicon-envelope"></span> diabeticeyecare@gmail.com</p>
            </div>
            <div class="col-sm-7 slideanim">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                          rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
